<!doctype html>
<html>
    <head>
        <script>
            
            function checkForm(form)
            {
               
                re = /^\w+$/;
                if(!re.test(form.user_name.value))
                {
                    alert("Error: Username must contain only letters, numbers and underscores!");
                    form.user_name.focus();
                    return false;
                }

               

               
                if(form.pwd1.value != "" && form.pwd1.value == form.pwd2.value)
                {
                    if(form.pwd1.value.length < 6)
                    {
                        alert("Error: Password must contain at least six characters!");
                        form.pwd1.focus();
                        return false;
                    }
                    if(form.pwd1.value == form.user_name.value)
                    {
                        alert("Error: Password must be different from User name!");
                        form.pwd1.focus();
                        return false;
                    }
                    re = /[0-9]/;
                    if(!re.test(form.pwd1.value)) 
                    {
                        alert("Error: password must contain at least one number (0-9)!");
                        form.pwd1.focus();
                        return false;
                    }
                    re = /[a-z]/;
                    if(!re.test(form.pwd1.value))
                    {
                        alert("Error: password must contain at least one lowercase letter (a-z)!");
                        form.pwd1.focus();
                        return false;
                    }
                    re = /[A-Z]/;
                    if(!re.test(form.pwd1.value))
                    {
                        alert("Error: password must contain at least one uppercase letter (A-Z)!");
                        form.pwd1.focus();
                        return false;
                    }
                } 
                else 
                {
                    alert("Error: invalid password!");
                    form.pwd1.focus();
                    return false;
                }
                
                alert("You entered a valid password: " + form.pwd1.value);
                return true;
               
            }

            function validateForm() {
                var x = document.forms["account_form"]["e_mail"].value;
                var atpos = x.indexOf("@");
                var dotpos = x.lastIndexOf(".");
                if (atpos<1 || dotpos<atpos+2 || dotpos+2>=x.length) {
                    alert("Not a valid e-mail address");
                    return false;
                    }          
            }
            
            
        </script>

    </head>
    <body>
        <form name="account_form" align="center" action="/account.html" onsubmit="return checkForm(this);" method='post'>
            <div class="container">
                    <label for="first-name">First Name</label>
                    <input id="first-name" type="text" placeholder="Enter First Name" name="first_name" required/>
                    <br>
                    <br>
                    <label for="last-name">Last Name</label>
                    <input id="last-name" type="text" placeholder="Enter Last Name" name="last_name" required/>
                    <br>
                    <br>
                    <label for="user-name">User Name</label>
                    <input id="user-name" type="text" placeholder="Enter User Name" name="user_name" required/>
                    <br>
                    <br>
                    <label for="user-password">Password</label>
                    <input id="user-password" type="password" placeholder="Enter password" name="pwd1" required/>
                    <br>
                    <br>
                    <label for="verify-password">Verify-Password</label>
                    <input id="verify-password" type="password" placeholder="re-enter password" name="pwd2" required/>
                    <br>
                    <br>
                    <label for="user-email">e-mail</label>
                    <input id="user-email" type="email" name="e_mail" onsubmit="return validateForm();"/>
                    <br>
                    <br>
                    <input type="checkbox" checked="checked"> Remember me
                    <br>
                    <input type="submit" />
                    <br>
                    <br>
                    <span class="psw"><a href="#">Forgot password?</a></span>
                    <br>
                    <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
            </div>
            
            
        </form>

        
        
    </body>
</html>